
.wrapper.spotlight .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.wrapper.spotlight .image {
    border-radius: 100%;
    margin: 0 3em 2em 0;
    width: 22em;
    overflow: hidden;
    -ms-flex: 1;
}

.wrapper.spotlight .image img {
    border-radius: 100%;
    width: 100%;
}

.wrapper.spotlight .content {
    width: 100%;
    -ms-flex: 2;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    text-align: right;
}

.wrapper.spotlight:nth-child(2n - 1) .image {
    margin: 0 0 2em 3em;
}

.wrapper.spotlight.style2 {
    background-color: #45558d;
}

.wrapper.spotlight.style2:before, .wrapper.spotlight.style2:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2345558d%3B' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style2:before {
    box-shadow: inset 0 -1px 0 0 #45558d, 0 1px 0 0 #45558d;
}

.wrapper.spotlight.style2:after {
    box-shadow: inset 0 -1px 0 0 #45558d, 0 1px 0 0 #45558d;
}

.wrapper.spotlight.style3 {
    background-color: #3f4e85;
}

.wrapper.spotlight.style3:before, .wrapper.spotlight.style3:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%233f4e85%3B' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style3:before {
    box-shadow: inset 0 -1px 0 0 #3f4e85, 0 1px 0 0 #3f4e85;
}

.wrapper.spotlight.style3:after {
    box-shadow: inset 0 -1px 0 0 #3f4e85, 0 1px 0 0 #3f4e85;
}

.wrapper.spotlight.style4 {
    background-color: #39477c;
}

.wrapper.spotlight.style4:before, .wrapper.spotlight.style4:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%2339477c%3B' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style4:before {
    box-shadow: inset 0 -1px 0 0 #39477c, 0 1px 0 0 #39477c;
}

.wrapper.spotlight.style4:after {
    box-shadow: inset 0 -1px 0 0 #39477c, 0 1px 0 0 #39477c;
}

.wrapper.spotlight.style5 {
    background-color: #324072;
}

.wrapper.spotlight.style5:before, .wrapper.spotlight.style5:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%23324072%3B' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style5:before {
    box-shadow: inset 0 -1px 0 0 #324072, 0 1px 0 0 #324072;
}

.wrapper.spotlight.style5:after {
    box-shadow: inset 0 -1px 0 0 #324072, 0 1px 0 0 #324072;
}

.wrapper.spotlight.style6 {
    background-color: #2d3a69;
}

.wrapper.spotlight.style6:before, .wrapper.spotlight.style6:after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' style='fill:%232d3a69%3B' /%3E%3C/svg%3E");
}

.wrapper.spotlight.style6:before {
    box-shadow: inset 0 -1px 0 0 #2d3a69, 0 1px 0 0 #2d3a69;
}

.wrapper.spotlight.style6:after {
    box-shadow: inset 0 -1px 0 0 #2d3a69, 0 1px 0 0 #2d3a69;
}
